.root { -fx-focus-color: transparent; }

#editArea {
    -fx-background-color: transparent;
    overflow: hidden;
    word-break: break-all;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
