.root { -fx-focus-color: transparent; }

#editArea {
    -fx-background-color: transparent;
    overflow: hidden;
    word-break: break-all;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#pushBut {
    -fx-background-color: transparent;
    -fx-background-image: url("../img/send.png");
}

#pushBut:hover {
    -fx-background-image: url("../img/active_send.png");
}

