
#hBox {
    background-color: transparent;
}

HBox:hover {
    -fx-background-color: #d3d7d4;
    -fx-background-radius: 15px;
}

.label:hover {
    -fx-font-size: 24px;
}

.button {
    -fx-background-color: transparent;
}

#delBut {
   -fx-background-image: url("../img/del.png");
    -fx-background-repeat: no-repeat;
}

#delBut:hover {
    -fx-background-image: url("../img/active_del.png");
}

#editBut {
    -fx-background-image: url("../img/edit.png");
    -fx-background-repeat: no-repeat;
}

#editBut:hover {
    -fx-background-image: url("../img/active_edit.png");
}
