
#labelBut {
    -fx-background-image: url("../img/setting_add.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

#labelBut:hover {
    -fx-background-image: url("../img/active_setting_add.png");
}

#pathBut {
    -fx-background-image: url("../img/path.png");
    -fx-background-color: transparent;
    -fx-opacity: 0.6;
    -fx-background-repeat: no-repeat;
}

#pathBut:hover {
    -fx-opacity: 1;
}

#labelField {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}