
.button {
    -fx-background-image: url("../img/setting_add.png");
    -fx-background-color: transparent;
}

#labelField:hover {
    -fx-background-image: url("../img/active_setting_add.png");
}

#labelField {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}